.container-clientes {
  width: 400px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

.container-clientes h1 {
  text-align: center;
  color: #333;
}

.container-clientes input {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.container-clientes button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.container-clientes button:hover {
  background-color: #0056b3;
}

.container-clientes ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.container-clientes li {
  background: #f9f9f9;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-clientes li button {
  margin-left: 5px;
  padding: 5px 8px;
  font-size: 12px;
}

/* Modal */
.modal-clientes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-clientes {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}
