body {
  margin: 0;
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} /* Nombre corregido */
.clients-main-container {
  background-color: coral;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-clients {
  width: 800px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  background-color: white;
  height: 70vh;
}

.container-clients h1 {
  text-align: center;
  color: #333;
}

.container-clients input {
  display: block;
  width: 80%;
  margin: 8px 0;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.container-clients button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.container-clients button:hover {
  background-color: #0056b3;
}

.container-clients ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.container-clients li {
  background: #f9f9f9;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-clients li button {
  margin-left: 5px;
  padding: 5px 8px;
  font-size: 12px;
}

/* Modal */
.container-clients .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-clients .modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.label-clients {
  font-size: 15px;
  color: #000;
  display: block;
}
