.producst-main-container {
  background-color: coral;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.products-container {
  width: 800px;
  padding: 40px;
  margin: 50px 0 50px 50px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px; /* separa secciones verticalmente */
  border: 2px solid #000;
}

/* Título */
.products-container h1 {
  text-align: center;
  color: #333;
}

/* Formulario de inputs */
.products-container .form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.products-container input[type="text"],
.products-container input[type="date"],
.products-container input[type="number"],
.products-container select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 600px; /* tamaño fijo */
  box-sizing: border-box;
}

/* Botones */
.products-container button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background-color: rgb(223, 62, 13);
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-size: 15px;
  width: 150px;
}

.products-container .button-delete {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background-color: rgb(248, 248, 248);
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-size: 10px;
  width: 50px;
}
.products-container button:hover {
  background-color: #000000;
}
.products-container .lapiz:hover {
  background-color: rgb(223, 62, 13);
}
/* Lista de productos */
.products-container ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px; /* espacio entre productos */
}

.products-container li {
  background: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  border: 2px solid cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  flex-wrap: wrap;
}

/* Botón lápiz */
.products-container .lapiz {
  background: transparent;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  border: none;
  width: 50px;
}

/* Modal */
.products-container .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.products-container .modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.products-container .modal-content h2 {
  margin: 0;
  color: #444;
}

.products-container .modal-content input {
  width: 100%;
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.products-container .modal-content button {
  padding: 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.products-container label {
  color: red;
}
