body {
  height: 90vh;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.right-side {
  flex: 1;
  display: flex;
  max-width: 70%;
  width: 80%;
  width: auto;
  margin: 80px;
  background-repeat: no-repeat;
  height: 80vh;
}

.login {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 35%;
}

.login-content {
  padding-top: 150px;
  background-color: rgb(245, 245, 245);
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.login-content h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-family: sans-serif;
}

.login-content input {
  font-size: 15px;
  width: 600px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #ccc;
  outline: none;
  margin-left: 25px;
  height: 20px;
}

.login-content label {
  padding: 20px 20px 20px 30px;
  font-size: 20px;
  color: #000000;
  margin-right: 80px;
}

.login-content button {
  display: block;
  background-color: rgb(223, 62, 13);
  font-size: 15px;
  padding: 10px;
  width: 40%;
  margin-left: 200px;
  margin-top: 20px;
  margin-bottom: 35px;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  border-radius: 5px;
}

.linea {
  border: none; /* elimina el borde por defecto */
  height: 2px; /* grosor de la línea */
  background-color: #000; /* color de la línea */
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content .register {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
}

.login-content button:hover {
  background-color: #005f73;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-box input:focus,
.login-box select:focus {
  border-color: #007bff;
}

.login-box button:hover {
  background-color: #0056b3;
}

.login-box button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.login-box .error {
  color: red;
  font-size: 13px;
  text-align: center;
}
