/* ======== CONTENEDOR PRINCIPAL ======== */
.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* ======== LADO IZQUIERDO (LOGIN) ======== */
.login {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

/* ======== CONTENIDO DEL LOGIN ======== */
.login-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 380px;
  text-align: center;
}

/* TITULOS */
.login-content h2 {
  font-size: 25px;
  color: #000;
  margin-top: 20px;
}

.h2-login {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* LINEA */
.linea {
  height: 2px;
  background-color: #000;
  width: 100%;
  border: none;
  margin: 20px 0;
}

/* LABELS */
.login-content label {
  text-align: left;
  margin-bottom: 6px;
  font-size: 16px;
  color: #000;
}

/* INPUTS */
.login-content input {
  font-size: 15px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
}

.login-content input:focus {
  border-color: #007bff;
}

/* BOTON LOGIN */
.login-content button {
  background-color: #93d9e6;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  transition: background-color 0.3s ease-in-out;
}

.login-content button:hover {
  background-color: #005f73;
  cursor: pointer;
}

/* BOTON REGISTER */
.register {
  background-color: #5bb7c6 !important;
}

.register:hover {
  background-color: #00758a !important;
}

/* ERRORES */
.error {
  color: red;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* ======== LADO DERECHO (IMAGEN) ======== */
.right-side {
  width: 65%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
