.container-main-register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; /* reducido un 20% desde 1000px */
  background-color: #93d9e6;
  gap: 10px;
}

/* Caja del formulario */
.container-register {
  background-color: #eceeee;
  padding: 20px; /* reducido de 30px un 20% */
  border-radius: 20px; /* ligeramente más pequeño */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  width: 650px;
  display: flex;
  flex-direction: column;
  gap: 11px; /* reducido un 20% desde 15px */
  opacity: 1;
  margin-left: 20px;
  height: 50vh;
}

/* Título del formulario */
.container-register h2 {
  text-align: center;
  color: #000000;
  margin-bottom: 8px; /* reducido un 20% desde 10px */
  font-size: 18px;
  font-weight: 800; /* ligeramente más pequeño */
}

/* Inputs y select */
.container-register input,
.container-register select {
  padding: 8px; /* reducido un 20% desde 10px */
  border: 1px solid #ccc;
  border-radius: 12px; /* reducido un 20% desde 8px */
  font-size: 12px; /* reducido un 20% desde 14px */
  outline: none;
  transition: border-color 0.2s;
  width: 90%;
  margin-left: 15px;
  margin-top: 5px;
}

.container-register input:focus,
.container-register select:focus {
  border-color: #007bff;
}

/* Botón */
.container-register button {
  padding: 8px; /* reducido un 20% desde 10px */
  background-color: #007bff;
  color: #fff;
  font-size: 13px; /* reducido un 20% desde 16px */
  border: none;
  border-radius: 6px; /* reducido un 20% desde 8px */
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 20px;
  width: 100px;
  margin-left: 275px;
}

.container-register button:hover {
  background-color: #0056b3;
}

.container-register button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.input-label {
  color: #000;
  font-size: 12px; /* reducido un 20% desde 15px */
  margin-left: 8px; /* reducido un 20% desde 15px */
  margin-top: 12px; /* reducido un 20% desde 20px */
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 18px;
}

.linea-container {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center; /* opcional, centra verticalmente si hay altura */
}
.linea {
  border: none; /* elimina el borde por defecto */
  height: 2px; /* grosor de la línea */
  background-color: #000000; /* color de la línea */
  margin: 10px 0; /* espacio arriba y abajo */
  width: 175px;
  display: flex;
}

.row > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* FILAS PARA ORGANIZAR INPUTS */
.row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
}
