* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: coral;
}

.app-layout {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  overflow: hidden;
  margin: 0;
  padding: 0;

  height: 100vh;
}
