body {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
  height: 100vh;
}

.app-layout {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  overflow: hidden;
  margin: 0;
  padding: 0;

  height: 100vh;
}

.label-products {
  font-size: 15px;
  color: #000;
  display: block;
}
