body {
  margin: 0;
  font-family: sans-serif;
  background: radial-gradient(circle, cadetblue, darkcyan);
}

.app-layout {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  background-color: #f5f5f5;
  overflow: hidden;
}
