/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Garantiza que React ocupe toda la pantalla */
html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: #fff;
}
